.about-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    height: 75%;
    width: 75%;
}

.card-front {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    opacity: 1;
    background-image: url('../img/cardtexture.png');
    background-size: cover;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    top: 0;
    left: 0;
    z-index: 2;
}

@keyframes jiggle {
    0% {
        transform: translate(0, 0);
    }

    12.5% {
        transform: translate(-10px, 0);
    }

    25% {
        transform: translate(10px, 0);
    }

    37.5% {
        transform: translate(-10px, 0);
    }

    50% {
        transform: translate(10px, 0);
    }

    62.5% {
        transform: translate(-10px, 0);
    }

    75% {
        transform: translate(10px, 0);
    }

    87.5% {
        transform: translate(-10px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

.jiggle {
    animation: jiggle 1.5s;
}

@media only screen and (max-width: 1024px) {
    .about-card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-self: center;
        height: 50%;
        width: 75%;
    }

    .card-front {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        border-radius: 5%;
        opacity: .95;
        background-image: url('../img/cardtexture.png');
        background-size: cover;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        top: 0;
        left: 0;
        z-index: 2;
    }
}