@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,600;0,800;1,100;1,200;1,500;1,900&display=swap');

* {
  font-family: Kanit, sans-serif;
}
.education-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%;
  overflow: hidden;
}

.education-list-container {
  display: grid;
	grid-template-columns: repeat(auto-fill, 100%, 1fr);
  gap: .5rem;
}

dl > .education-item:nth-child(odd) {
  background: #BFFDFB;    
  padding: .3rem;
  border-radius: 0 1em 1em 1em;
  box-shadow: 2px 2px 2px rgba(200, 200, 200, 0.5);
  font-size: 1.1rem;
}

dl > .education-item:nth-child(even) {
  background: #4CC1DE;
  padding: .3rem;
  border-radius: 0 1em 1em 1em;
  box-shadow: 2px 2px 2px rgba(200, 200, 200, 0.5);
  font-size: 1.1rem;
}

dt {
  font-weight: 600;
}

dd {
  font-weight: 400;
}

.education-header {
  font-weight: 800;
  font-style: bold;
  font-size: 1.3rem;
}

.education-subtext {
  font-weight: 200;
  font-style: italic;
  font-size: .75rem;
  margin-left: 25%;
}

@media (max-height: 670px) {
  dl > .education-item:nth-child(odd) {
    background: #BFFDFB;    
    padding: .25rem;
    border-radius: 0 1em 1em 1em;
    box-shadow: 2px 2px 2px rgba(200, 200, 200, 0.5);
    font-size: 1rem;
  }
  
  dl > .education-item:nth-child(even) {
    background: #4CC1DE;
    padding: .25rem;
    border-radius: 0 1em 1em 1em;
    box-shadow: 2px 2px 2px rgba(200, 200, 200, 0.5);
    font-size: 1rem;
  }
}

@media (min-width: 376px) and (max-width: 415px) {
  dl > .education-item:nth-child(odd) {
    background: #BFFDFB;    
    padding: .5rem;
    border-radius: 0 1em 1em 1em;
    box-shadow: 2px 2px 2px rgba(200, 200, 200, 0.5);
    font-size: 1.1rem;
  }
  
  dl > .education-item:nth-child(even) {
    background: #4CC1DE;
    padding: .5rem;
    border-radius: 0 1em 1em 1em;
    box-shadow: 2px 2px 2px rgba(200, 200, 200, 0.5);
    font-size: 1.1rem;
  }
}